.main-heading {
  display: flex;
  margin-bottom: -8rem; 
  justify-content: center;

}

.main-heading img {
  width: 9rem;
  aspect-ratio: 1/1;
  opacity: 1;
}

/* .youth{
  display: flex;
  width:35%;
  margin: 10px 0 10px 40px;
  justify-content: space-evenly;
}
.spire{
  display: flex;
  width:39%;
  margin: 10px 0 10px 45px;
  justify-content: space-evenly;
} */


.sub-heading {
  display: flex;
  height: 10em;
  font-size: 2.5rem;
  margin-top: 8rem;
  color: white;
  justify-content: center;
  animation: fadeInOut 30s ease-in-out;

}